* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.container1
 {
    display: flex;
    align-items: start;
    justify-content: center;
      
}
.left
{
    width: 20%;
    
}
.left h1 
{
    margin: 8px;
    font-size: 25px;
    font-weight: 650;
    padding-left: 17px;
}
.left p 
{
    margin: 18px;
    
}
.left p span
{
    font-size: 18px;
    font-weight: lighter;
    padding: 0px 8px;

}
.left a 
{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: rgb(123, 109, 109);

}
.container2 
{
    background-color: rgb(235, 233, 233);
    width: 80%;
    height: 2000vh;

}
.dashboard 
{
    padding: 15px;
    margin-left: 20px;

}
.dashboard h1 
{
    font-size: 30px;
    font-weight: 600;
    
}
.dashboard p 
{
    color: rgb(110, 106, 106);
    font-size: 17px;
    font-weight: 400;

}
.box1
{
    width: 28%;
    border-radius: 5px;
    padding: 25px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total h1 
{
    font-size: 15px;
    font-weight: 500;
}
.total p 
{
    font-size: 28px;
    font-weight: 700;
}
.icon1 
{
    background-color: rgb(179, 230, 179);
    border-radius: 50%;  
    font-size: 20px;
    padding: 7px 16px;
    color: green;
}
.icon2 
{
    background-color: rgb(183, 183, 232);
    border-radius: 50%;
    font-size: 20px;
    padding: 5px 13px;
    color: purple;
}
.icon3 
{
    background-color: rgb(229, 191, 191);
    border-radius: 50%;
    font-size: 20px;
    padding: 5px 13px;
    color: red;
}
.container3
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.container4
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

.monthly 
{
    width: 46%;
    height: 400px;
    background-color: white;
    border-radius: 5px;
}
.monthly h1 
{
    font-size: 25px;
    font-weight: 500;
    padding: 30px 35px;
}
.chart 
{
    width: 90%;
    height: 280px;
    background-color: rgb(237, 232, 232);
    margin-left: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chart p 
{
    text-align: center;
    font-size: 15px;
    color: gray;
}
.container5
{
    width: 95%;
    height: 290px;
    background-color: white;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 30px;
}
.recent h1 
{
    font-size: 25px;
    font-weight: 700;
    padding: 20px 35px;
}
.first 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(110, 109, 109);
    background-color: rgb(247, 243, 243);
    padding: 10px 35px;
    
}
.first h3
{
    width: 40%;
    font-size: 20px;
    font-weight: 400;

    
}
.first h4
{
    width: 40%;
    font-size: 20px;
    font-weight: 400;
}
.first h5
{
    width: 40%;
    font-size: 20px;
    font-weight: 400;

}
.first h6
{
    width: 40%;
    font-size: 20px;
    font-weight: 400;

}
.second 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px;

}
.second h3
{
    width: 40%;
    font-size: 20px;
    font-weight: 400;


}
.second h4
{
    width: 40%;
    font-size: 20px;
    font-weight: 400;
 
}
.second h5
{
    width: 40%;
    font-size: 20px;
    font-weight: 400;
   
}
.second h6
{
    width: 40%;
    font-size: 20px;
    font-weight: 400;
    color: brown;
  
}
.third 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;

}
.third h3
{
    width: 40%;
    font-size: 20px;
    font-weight: 400;

}
.third h4
{
    width: 40%;
    font-size: 20px;
    font-weight: 400;

}
.third h5
{
    width: 40%;
    font-size: 20px;
    font-weight: 400;

}
.third h6
{
    width: 40%;
    font-size: 20px;
    font-weight: 400;
    color: green;

    
}
.four 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;

}
.four h3
{
    width: 32%;
    font-size: 20px;
    font-weight: 400;
    
}
.four h4
{
    width: 32%;
    font-size: 20px;
    font-weight: 400;
 
}
.four h5
{
    width: 33%;
    font-size: 20px;
    font-weight: 400;

}
.four h6
{
    width: 30.5%;
    font-size: 20px;
    font-weight: 400;
    color: maroon;
     
}
.container6
{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transactions h1
{
    font-size: 30px;
    font-weight: 700;
    margin-left: 30px;

}
.transactions p
{
    color: rgb(129, 120, 120);
    margin-left: 30px;

}
.add a
{
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 20px;
}
.add
{
    margin-right: 30px;
}
.container7
{
    width: 95%;
    height: 90px;
    background-color: white;
    margin-top: 40px;
    margin-left: 30px;

}
.right1 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px 25px 15px;

}
.right1 h2
{
    width: 25%;
    font-size: 15px;
    font-weight: 500;

}
.right1 h3
{
    width: 25%;
    font-size: 15px;
    font-weight: 500;
      
}
.right1 h4
{
    width: 25%;
    font-size: 15px;
    font-weight: 500;
      
}
.right1 h5
{
    width: 25%;
    font-size: 15px;
    font-weight: 500;
    
}
.right2
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.right2 h2
{
    width: 30%;
    font-size: 15px;
    font-weight: 400;
    border: solid rgb(218, 211, 211);
    border-radius: 5px;
    /* padding: 0px 6px 1px 5px; */

    
}
.right2 h3
{

    width: 30%;
    font-size: 15px;
    font-weight: 400;
    border: solid rgb(218, 211, 211);
    border-radius: 5px;
    padding: 1px 60px 1px 5px;

    
}
.right2 h4
{
    width: 22%;
    font-size: 15px;
    font-weight: 400;
    border: solid rgb(218, 211, 211);
    border-radius: 5px;
    padding: 1px 60px 1px 5px;
    
}
.right2 h5
{
    width: 23%;
    font-size: 15px;
    font-weight: 400;
    border: solid rgb(218, 211, 211);
    border-radius: 5px;
    padding: 1px 60px 1px 5px;
    
}
.container8
{
    width: 95%;
    height: 200px;
    background-color: white;
    margin-top: 40px;
    margin-left: 30px;

}
.one
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(247, 243, 243);
    color: rgb(110, 109, 109);
    padding: 10px;
    
}
.one h1
{
    font-size: 20px;
    font-weight: 400;
}
.one h2
{
    font-size: 20px;
    font-weight: 400;
}
.one h3
{
    font-size: 20px;
    font-weight: 400;
}
.one h4
{
    font-size: 20px;
    font-weight: 400;
}
.one h5
{
    font-size: 20px;
    font-weight: 400;
}
.one h6
{
    font-size: 20px;
    font-weight: 400;
}
.two
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.two h1
{
    font-size: 15px;
    font-weight: 400;
}
.two h2
{
    font-size: 15px;
    font-weight: 400;
}
.two h3
{
    color: blue;
    background-color: rgb(199, 199, 231);
    padding: 1px 10px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 400;
}
.two h4
{
    color: purple;
    background-color: rgb(226, 197, 226);
    padding: 1px 10px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 400;
}
.two h5
{
    color: brown;
    font-size: 15px;
    font-weight: 400;
}
.two h6
{
    color: brown;
    font-size: 15px;
    font-weight: 400;
}
.two span
{
    color: blue;
    font-size: 15px;
    font-weight: 400;
}
.two1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.two1 h1
{
    font-size: 15px;
    font-weight: 400;
}
.two1 h2
{
    font-size: 15px;
    font-weight: 400;
}
.two1 h3
{
    color: blue;
    background-color: rgb(199, 199, 231);
    padding: 1px 10px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 400;
}
.two1 h4
{
    color: purple;
    background-color: rgb(226, 197, 226);
    padding: 1px 10px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 400;
}
.two1 h5
{
    color: brown;
    font-size: 15px;
    font-weight: 400;
}
.two1 h6
{
    color: brown;
    font-size: 15px;
    font-weight: 400;
}
.two1 span
{
    color: blue;
    font-size: 15px;
    font-weight: 400;
}

.container9
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.three h1
{
    font-size: 30px;
    font-weight: 700;
    margin-left: 30px;

}
.three p
{
    color: rgb(129, 120, 120);
    margin-left: 30px;

}
.four a
{
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 5px;
}
.box2
{
    width: 25%;
    height: 130px;
    background-color: white;
    border-radius: 5px;
    margin-left: 30px;
}
.five
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.five1 p
{
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}
.five2 p
{
    font-size: 25px;
    color: blue;
    font-weight: bold;
    padding: 15px;

}
.six
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.six1 p
{
   padding: 0px 15px;
}
.six2 p
{
   padding: 0px 15px;
}

.seven
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.seven1 p
{
    padding: 0px 15px;
}
.seven2 p
{
   padding: 0px 15px;
}
.box3
{
    width: 25%;
    height: 130px;
    background-color: white;
    border-radius: 5px;
    
}
.eight
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.eight1 p
{
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}
.eight2 p
{
    font-size: 25px;
    color: green;
    font-weight: bold;
    padding: 15px;

}
.nine
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nine1 p
{
    padding: 0px 15px;
}
.nine2 p
{
   padding: 0px 15px;
}
.ten
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ten1 p
{
    padding: 0px 15px;
}
.ten2 p
{
    color: brown;
    font-weight: bold;
   padding: 0px 15px;
}
.box4
{
    width: 25%;
    height: 130px;
    background-color: white;
    border-radius: 5px;
    margin-right: 30px;
}
.eleven
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.eleven1 p
{
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}
.eleven2 p
{
    font-size: 25px;
    color: blue;
    font-weight: bold;
    padding: 15px;

}
.thirteen
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.thirteen1 p
{
   padding: 0px 15px;
}
.thirteen2 p
{
   padding: 0px 15px;
}

.fourteen
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fourteen1 p
{
    padding: 0px 15px;
}
.fourteen2 p
{
   padding: 0px 15px;
}
.container10
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.container11
{
    width: 95%;
    height: 250px;
    background-color: white;
    margin-left: 30px;
    margin-top: 40px;
    
}
.box5 h1
{
    font-size: 25px;
    font-weight: 600;
    padding: 15px 20px;
}
.box6
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    
}
.box6 span
{
    color: blue;
    background-color: rgb(167, 167, 206);
    padding: 1px 8px;
    border-radius: 15px;
    margin: 5px;

}
.box7 .var
{
    color: yellow;
    background-color: rgb(116, 116, 21);
    padding: 1px 8px;
    border-radius: 15px;
    margin: 5px;

}
.box7 .over
{
    color: brown;
    background-color: rgb(233, 78, 78);
    padding: 1px 8px;
    border-radius: 15px;
    margin: 5px;

}
.box7 p
{
    color: black;
    font-weight: 500;
    font-size: 20px;
    margin-left: 20px;

}
.box8 p
{
    font-size: 18px;
    margin-right: 20px;
}

.container12
{
    width: 95%;
    height: 280px;
    background-color: white;
    margin-left: 30px;
    margin-top: 40px;
       
}
.box12 h1
{
    font-size: 25px;
    padding: 15px 20px;
    background-color: rgb(253, 247, 247);
}
.twelve
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.twelve1 h3
{
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;

}
.twelve1 p
{
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;


}
.twelve2 p
{
    margin-right: 20px;
}
.twelve span
{
    font-size: 13px;
    color: brown;
    margin-left: 20px;
}
.container13
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.box13 h3
{
    font-size: 30px;
    margin-left: 30px;
    font-weight: 600;

}
.box13 p
{
    margin-left: 18px;
    margin-left: 30px;
    font-weight: 400;

}
.box14 p
{
    font-size: 20px;
    background-color: white;
    padding: 5px 15px;
    margin-right: 30px;
}
.container14
{
    width: 95%;
    height: 240px;
    background-color: white;
    margin-left: 30px;
    margin-top: 40px;

}
.box14 h2
{
    font-size: 25px;
    padding: 10px;
    background-color: rgb(253, 247, 247);
}
.fourteen
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.fourteen1 h2
{
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}
.fourteen2 p
{
    margin-right: 20px;

}
.fiveteen
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.fiveteen1 h2
{
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}
.fiveteen2 p
{
    margin-right: 20px;

}
.sixteen
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.sixteen1 h2
{
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}
.sixteen2 p
{
    margin-right: 20px;

}
.container15
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.box15
{
    width: 22%;
    height: 140px;
    background-color: white;
    border-radius: 5px;
    margin-left: 30px;
}
.box15 h2
{
    color: rgb(110, 95, 95);
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}
.box15 h1
{
    font-size: 25px;
    padding: 0px 15px;
}
.box15 span
{
    color: rgb(72, 235, 72);
}
.box15 p
{
    padding: 0px 15px;
}
.box16
{
    width: 22%;
    height: 140px;
    background-color: white;
    border-radius: 5px;

}
.box16 h2
{
    color: rgb(110, 95, 95);
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}
.box16 h1
{
    font-size: 25px;
    padding: 0px 15px;
}
.box16 span
{
    color: brown;
}
.box16 p
{
    padding: 0px 15px;
}
.box17
{
    width: 22%;
    height: 140px;
    background-color: white;
    border-radius: 3px;

}
.box17 h2
{
    color: rgb(110, 95, 95);
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}
.box17 h1
{
    font-size: 25px;
    padding: 0px 15px;
}
.box17 span
{
    color: rgb(72, 235, 72);
}
.box17 p
{
    padding: 0px 15px;
}
.box18
{
    width: 22%;
    height: 140px;
    background-color: white;
    margin-right: 35px;
    border-radius: 3px;

}
.box18 h2
{
    color: rgb(110, 95, 95);
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}
.box18 h1
{
    font-size: 25px;
    padding: 0px 15px;
}
.box18 span
{
    color: rgb(72, 235, 72);
}
.box18 p
{
    padding: 0px 15px;
}
.container19
{
    width: 95%;
    height: 285px;
    background-color: white;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 40px;
}
.box19 h2
{
    font-size: 25px;
    font-weight: 600;
    padding: 15px;
    background-color: rgb(246, 242, 242);
    
}
.reduced
{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    
}
.reduced1
{
    width: 45px;
    height: 45px;
    background-color: rgb(171, 223, 171);
    border-radius: 50%;
    
    
}
.reduced1 span
{
    color: green;
    font-size: 35px;
    margin-left: 7px;
}

.reduced2 {
    padding-left: 10px;
}

.reduced2 h2
{
    font-size: 18px;
    font-weight: 500;

}
.reduced2 p
{
    font-size: 18px;

}
.danger
{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;

}
.danger1
{
    width: 45px;
    height: 45px;
    background-color: pink;
    border-radius: 50%;
    
}
.danger1 span
{
    color: palevioletred;
    font-size: 28px;
    padding-left: 10px;
    

}

.danger2 h2
{
    font-size: 15px;
    font-weight: 500;

}
.danger2 p
{
    font-size: 15px;

}

.arrow
{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    
}
.arrow1
{
    width: 45px;
    height: 45px;
    background-color: rgb(150, 150, 222);
    border-radius: 50%;
    
}
.arrow1 span
{
    color: blue;
    font-size: 35px;
    margin-left: 7px;
    margin-top: 10px;

}

.arrow2 h2
{
    font-size: 15px;
    font-weight: 500;

}
.arrow2 p
{
    font-size: 15px;

}
.container20
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

}
.boy1 h1
{
    font-size: 25px;
    font-weight: 600;
    margin-left: 30px;
}
.boy1 p
{
    font-size: 18px;
    font-weight: 400;
    margin-left: 30px;
}
.boy2 span
{
    font-size: 20px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: 10px 25px;
    margin-right: 30px;
}
.parent21
{
    width: 25%;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    margin-left: 30px;
   
}
.cat 
{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px;


}
.cat1 span
{
    color: green;
    background-color: rgb(169, 214, 169);
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 10px;

}
.cat2 h2
{
    font-size: 20px;
    font-weight: 600;
}
.cat2 p
{
    font-size: 13px;
    font-weight: 500;
}
.cat2
{
    padding: 0px 15px;

}
.dog
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

}
.dog2
{
    margin-right: 10px;
}
.dog p
{
    font-size: 15px;
    font-weight: 500;
}
.eye
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;


}
.eye2
{
    margin-right: 10px;
}

.eye p
{
    font-size: 15px;
    font-weight: 500;

}
.parent22
{
    width: 25%;
    height: 150px;
    background-color: white;
    border-radius: 5px;
}
.fish
{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px;


}
.fish1 span
{
    color: blue;
    background-color: rgb(197, 197, 225);
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 10px;

}
.fish2 h2
{
    font-size: 20px;
    font-weight: 600;
}
.fish2 p
{
    font-size: 13px;
    font-weight: 500;
}
.fish2
{
    padding: 0px 15px;

}
.girl
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

}
.girl2
{
    margin-right: 10px;
}
.girl p
{
    font-size: 15px;
    font-weight: 500;
}
.hen
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;


}
.hen2
{
    margin-right: 10px;
}

.hen p
{
    font-size: 15px;
    font-weight: 500;

}

.parent23
{
    width: 25%;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    margin-right: 30px;
    
}
.inport
{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px;


}
.inport1 span
{
    color: blueviolet;
    background-color: rgb(224, 213, 234);
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 10px;

}
.inport2 h2
{
    font-size: 20px;
    font-weight: 600;
}
.inport2 p
{
    font-size: 13px;
    font-weight: 500;
}
.inport2
{
    padding: 0px 15px;

}
.jug
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;

}
.jug2
{
    /* margin-right: 10px; */
}
.jug p
{
    font-size: 15px;
    font-weight: 500;
}
.kite
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;


}
.kite2
{
    margin-right: 10px;
}

.kite p
{
    font-size: 15px;
    font-weight: 500;

}
.container21
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.container22
{
    width: 95%;
    height: 210px;
    background-color: white;
    margin-left: 30px;
    margin-top: 40px;
    
}
.box23 h1
{
    font-size: 25px;
    font-weight: 600;
    padding: 15px 20px;
}
.box24
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    
}
.box24 h1
{
    font-size: 25px;

}
.box25 span
{
    color:palevioletred;
    background-color: rgb(231, 176, 194);
    padding: 1px 5px;
    border-radius: 5px;
    margin: 0px 10px 0px 0px;

}
.box25 h1
{
    color: black;
    font-weight: 500;
    font-size: 20px;
    margin-left:10px;

}

.box25 .blub
{
    color: yellow;
    background-color: rgb(168, 157, 157);
    padding: 1px 7px;
    border-radius: 5px;

}

.box25 p
{
    font-size: 15px;
    margin-left: 50px;
}
.box26 p
{
    font-size: 18px;
    margin-right: 20px;
}
.container23
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.parent1
{
    margin-left: 30px;
}
.parent1 h1
{
    font-size: 25px;
    margin-top: 40px;
}
.parent2
{
    margin-top: 40px;
}
.parent2 .monthly
{
    color: black;
    font-size: 20px;
    background-color: white;
    padding: 5px 10px;
    margin-right: 10px;
    
}
.parent2 span
{
    color: white;
    background-color: blue;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    margin-right: 30px;
}
.container24
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.parent15
{
    width: 28%;
    height: 140px;
    background-color: white;
    border-radius: 5px;
    margin-left: 30px;
}
.parent15 h2
{
    color: rgb(110, 95, 95);
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}
.parent15 h1
{
    font-size: 25px;
    padding: 0px 15px;
}
.parent15 span
{
    color: rgb(72, 235, 72);
}
.parent15 p
{
    padding: 0px 15px;
}
.parent16
{
    width: 28%;
    height: 140px;
    background-color: white;
    border-radius: 5px;

}
.parent16 h2
{
    color: rgb(110, 95, 95);
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}
.parent16 h1
{
    font-size: 25px;
    padding: 0px 15px;
}
.parent16 span
{
    color: brown;
}
.parent16 p
{
    padding: 0px 15px;
}
.parent17
{
    width: 28%;
    height: 140px;
    background-color: white;
    border-radius: 5px;
    margin-right: 30px;

}
.parent17 h2
{
    color: rgb(110, 95, 95);
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}
.parent17 h1
{
    font-size: 25px;
    padding: 0px 15px;
}
.parent17 span
{
    color: rgb(72, 235, 72);
}
.parent17 p
{
    padding: 0px 15px;
}

.container25
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

.parent25
{
    width: 46%;
    height: 400px;
    background-color: white;
    border-radius: 5px;
}
.parent25 h1 
{
    font-size: 25px;
    font-weight: 500;
    padding: 30px 35px;
}
.parent26
{
    width: 90%;
    height: 280px;
    background-color: rgb(237, 232, 232);
    margin-left: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent26 p 
{
    text-align: center;
    font-size: 15px;
    color: gray;
}
.container26
{
    width: 95%;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 30px;
}
.parent p
{
    font-size: 25px;
    font-weight: 500;
    padding: 5px 15px;
}
.parent28
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(177, 172, 172);
    background-color: rgb(243, 238, 238);
    padding: 7px;

}
.parent28 h1
{
    width: 10%;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
}
.parent28 h2
{
    width: 10%;
    font-size: 20px;
    font-weight: 600;
}
.parent28 h3
{
    width: 10%;
    font-size: 20px;
    font-weight: 600;
}
.parent28 h4
{
    width: 10%;
    font-size: 20px;
    font-weight: 600;
}
.parent28 h5
{
    width: 10%;
    font-size: 20px;
    font-weight: 600;
}
.parent28 h6
{
    width: 10%;
    font-size: 20px;
    font-weight: 600;
    margin-right: 15px;
}
.parent29
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}
.parent29 h1
{
    font-size: 20px;
    font-weight: 500;
    margin-left: 15px;
}
.parent29 h2
{
    font-size: 20px;
    font-weight: 500;
}
.parent29 h3
{
    font-size: 20px;
    font-weight: 500;
}
.parent29 h4
{
    font-size: 20px;
    font-weight: 500;;
}
.parent29 h5
{
    font-size: 20px;
    font-weight: 500;
}
.parent29 h6
{
    font-size: 20px;
    font-weight: 500;
    margin-right: 15px;
}
.parent30
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}
.parent30 h1
{
    font-size: 20px;
    font-weight: 500;
    margin-left: 15px;
}
.parent30 h2
{
    font-size: 20px;
    font-weight: 500;
}
.parent30 h3
{
    font-size: 20px;
    font-weight: 500;
}
.parent30 h4
{
    font-size: 20px;
    font-weight: 500;;
}
.parent30 h5
{
    font-size: 20px;
    font-weight: 500;
}
.parent30 h6
{
    font-size: 20px;
    font-weight: 500;
    margin-right: 15px;
}
.container27
{
    font-size: 15px;
    margin-top: 40px;
    margin-left: 30px;
    
}
.container28
{
    margin-top: 40px;
    margin-left: 30px;
    width: 95%;
    height: 400px;
    background-color: white;
    border-radius: 5px;
}
.parent31 h1
{
    font-size: 25px;
    padding: 15px;

}
.container29
{
    margin-top: 40px;
    margin-left: 30px;
    width: 95%;
    height: 400px;
    background-color: white;
    border-radius: 5px;
}
.parent32 h1
{
    font-size: 25px;
    padding: 15px;

}
.container30
{
    margin-top: 40px;
    margin-left: 30px;
    width: 95%;
    height: 400px;
    background-color: white;
    border-radius: 5px;
}
.parent33 h1
{
    font-size: 25px;
    padding: 15px;

}