* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.container1
 {
    display: flex;
    align-items: start;
    justify-content: center;
      
}
.left
{
    background-color: white;
    width: 20%;
    
}

.left h1 
{
    margin-top: 8px;
    font-size: 30px;
    font-weight: 700;
    padding-left: 30px;
}

.left p 
{
    margin: 20px;
    font-size: 24px;
    margin-right: 10px;
}
.left a 
{
    text-decoration: none;
    color: rgb(51, 46, 46);
    font-size: 20px;
    font-weight: 600;
}

.container2 
{
    background-color: rgb(228, 222, 222);
    width: 80%;
    height: 1000vh;
    padding: 20px;
}
.dashboard 
{
    margin-left: 40px;

}
.dashboard h1 
{
    font-size: 30px;
    font-weight: 600;
    
}
.dashboard p 
{
    color: rgb(110, 106, 106);
    font-size: 17px;
    font-weight: 500;

}
.box1
{
    width: 325px;
    height: 85px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.total h1 
{
    font-size: 15px;
    font-weight: 500;
}
.total p 
{
    font-size: 28px;
    font-weight: 700;
    padding-top: 8px;
}
.icon1 
{
    font-size: 25px;
    width: 45px;
    height: 45px;
    padding: 5px 15px;
    margin-left: 32px;
    border-radius: 50%;
    background-color: rgb(127, 236, 127);
    color: green;
}
.container3
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}
.icon2 
{
    font-size: 25px;
    width: 45px;
    height: 45px;
    padding: 5px 13px;
    margin-left: 32px;
    border-radius: 50%;
    background-color: rgb(117, 117, 247);
    color: purple;
}
.icon3 
{
    font-size: 25px;
    width: 45px;
    height: 45px;
    padding: 5px 13px;
    margin-left: 32px;
    border-radius: 50%;
    background-color: rgb(244, 137, 137);
    color: red;
}
.container4
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}
.monthly 
{
    width: 46%;
    height: 400px;
    background-color: white;
    border-radius: 5px;
}
.monthly h1 
{
    font-size: 20px;
    font-weight: 600;
    padding: 30px 27px;
}
.chart 
{
    width: 90%;
    height: 282px;
    margin-left: 26px;
    background-color: rgb(229, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart p 
{
    text-align: center;
    color: gray;
}
.container5
{
    width: 95%;
    height: 300px;
    background-color: white;
    border-radius: 2px;
    margin: 25px 32px;
}
.recent h1 
{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
}
.first 
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(247, 243, 243);
    color: rgb(110, 109, 109);
    padding: 10px;
    
}
.first h3
{
    font-size: 20px;
    font-weight: 400;
    
}
.first h4
{
    font-size: 20px;
    font-weight: 400;
}
.first h5
{
    font-size: 20px;
    font-weight: 400;
}
.first h6
{
    font-size: 20px;
    font-weight: 400;
}


.second 
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}
.second h3
{
    font-size: 15px;
    font-weight: 400;


    
}
.second h4
{
    font-size: 15px;
    font-weight: 400;

    
}
.second h5
{
    font-size: 15px;
    font-weight: 400;

    
}
.second h6
{
    font-size: 17px;
    font-weight: 400;
    color: brown;
    
    
}
.third 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;

}

.third h3
{
    font-size: 15px;
    font-weight: 400;


    
}
.third h4
{
    font-size: 15px;
    font-weight: 400;

    
}
.third h5
{
    font-size: 15px;
    font-weight: 400;
    
}
.third h6
{
    font-size: 17px;
    font-weight: 400;
    color: green;
    
    
}

.four 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;

}
.four h3
{
    font-size: 15px;
    font-weight: 400;
    
    
}
.four h4
{
    font-size: 15px;
    font-weight: 400;

    
}
.four h5
{
    font-size: 15px;
    font-weight: 400;
    
}
.four h6
{
    font-size: 17px;
    font-weight: 400;
    color: maroon;
    
    
}


.container6
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transactions h1
{
    font-size: 35px;
    margin-left: 30px;

}
.transactions p
{
    color: rgb(129, 120, 120);
    margin-left: 30px;

}
.add a
{
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 8px 15px;
    border-radius: 3px;
}
.add
{
    margin-right: 30px;
}
.container7
{
    width: 95%;
    height: 90px;
    background-color: white;
    margin-top: 20px;
    margin-left: 25px;
    padding: 3px 0px;

}
.right1 
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.right1 h2
{
    font-size: 13px;
    font-weight: 500;
    padding: 10px 0px 0px 10px;
    margin: 0px 225px 0px 0px;
    
    
}
.right1 h3
{
    font-size: 13px;
    font-weight: 500;
    padding: 10px 0px 0px 10px;
    margin: 0px 225px 0px 0px;
    
    
}
.right1 h4
{
    font-size: 13px;
    font-weight: 500;
    padding: 10px 0px 0px 10px;
    margin: 0px 225px 0px 0px;
    
    
}
.right1 h5
{
    font-size: 13px;
    font-weight: 500;
    padding: 10px 0px 0px 10px;
    margin: 0px 225px 0px 0px;
    
    
}
.right2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px 1px 10px;
}
.right2 h2
{
    font-size: 15px;
    font-weight: 400;
    border: solid rgb(218, 211, 211);
    border-radius: 4px;
    padding: 1px 60px 1px 5px;
    
}
.right2 h3
{
    font-size: 15px;
    font-weight: 400;
    border: solid rgb(218, 211, 211);
    border-radius: 4px;
    padding: 1px 60px 1px 5px;
    
}
.right2 h4
{
    font-size: 15px;
    font-weight: 400;
    border: solid rgb(218, 211, 211);
    border-radius: 4px;
    padding: 1px 60px 1px 5px;
    
}
.right2 h5
{
    font-size: 15px;
    font-weight: 400;
    border: solid rgb(218, 211, 211);
    border-radius: 4px;
    padding: 1px 60px 1px 5px;
    
}
.container8
{
    width: 95%;
    height: 200px;
    background-color: white;
    margin-top: 20px;
    margin-left: 25px;
    padding: 3px 10px;

}
.one
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(247, 243, 243);
    color: rgb(110, 109, 109);
    padding: 10px;
    
}
.one h1
{
    font-size: 20px;
    font-weight: 400;
}
.one h2
{
    font-size: 20px;
    font-weight: 400;
}
.one h3
{
    font-size: 20px;
    font-weight: 400;
}
.one h4
{
    font-size: 20px;
    font-weight: 400;
}
.one h5
{
    font-size: 20px;
    font-weight: 400;
}
.one h6
{
    font-size: 20px;
    font-weight: 400;
}
.two
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.two h1
{
    font-size: 15px;
    font-weight: 400;
}
.two h2
{
    font-size: 15px;
    font-weight: 400;
}
.two h3
{
    color: blue;
    background-color: rgb(199, 199, 231);
    padding: 1px 10px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 400;
}
.two h4
{
    color: purple;
    background-color: rgb(226, 197, 226);
    padding: 1px 10px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 400;
}
.two h5
{
    color: brown;
    font-size: 15px;
    font-weight: 400;
}
.two h6
{
    color: brown;
    font-size: 15px;
    font-weight: 400;
}
.two span
{
    color: blue;
    font-size: 15px;
    font-weight: 400;
}
.two1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.two1 h1
{
    font-size: 15px;
    font-weight: 400;
}
.two1 h2
{
    font-size: 15px;
    font-weight: 400;
}
.two1 h3
{
    color: blue;
    background-color: rgb(199, 199, 231);
    padding: 1px 10px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 400;
}
.two1 h4
{
    color: purple;
    background-color: rgb(226, 197, 226);
    padding: 1px 10px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 400;
}
.two1 h5
{
    color: brown;
    font-size: 15px;
    font-weight: 400;
}
.two1 h6
{
    color: brown;
    font-size: 15px;
    font-weight: 400;
}
.two1 span
{
    color: blue;
    font-size: 15px;
    font-weight: 400;
}

.container9
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.three h1
{
    font-size: 35px;
    margin-left: 30px;

}
.three p
{
    color: rgb(129, 120, 120);
    margin-left: 30px;

}
.four a
{
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 8px 15px;
    border-radius: 3px;
}
.four
{
    margin-right: 30px;
}
.box2
{
    width: 300px;
    height: 120px;
    background-color: white;
    border-radius: 3px;
    margin-left: 20px;
}
.box3
{
    width: 300px;
    height: 120px;
    background-color: white;
    border-radius: 3px;
}
.box4
{
    width: 300px;
    height: 120px;
    background-color: white;
    border-radius: 3px;
    margin-right: 35px;
}
.five
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.five1 h1
{
    font-size: 20px;
    padding: 15px;
}
.five2 span
{
    font-size: 22px;
    color: blue;
    padding: 15px;

}

.six
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.six1 p
{
   padding: 0px 15px;
}
.six2 p
{
   padding: 0px 15px;
}
.five2 .dolar
{
    color: green;
    font-size: 22px;
}
.container10
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}


.container11
{
    width: 95%;
    height: 250px;
    background-color: white;
    margin-left: 20px;
    margin-top: 35px;
    
    
}
.box5 h1
{
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
}
.box6
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin: 15px;
    
}
.box6 span
{
    color: blue;
    background-color: rgb(167, 167, 206);
    padding: 1px 8px;
    border-radius: 15px;
}
.box7 .var
{
    color: yellow;
    background-color: rgb(116, 116, 21);
}
.box7 .over
{
    color: brown;
    background-color: rgb(233, 78, 78);
}
.box7 p
{
    color: black;
    font-weight: 500;
    font-size: 15px;
    margin-left: 20px;

}
.box8 p
{
    font-size: 13px;
    margin-right: 20px;
}

.container12
{
    width: 95%;
    height: 260px;
    background-color: white;
    margin-left: 20px;
    margin-top: 35px;
       
}
.box12 h1
{
    font-size: 25px;
    padding: 15px;
    background-color: rgb(253, 247, 247);
}
.twelve
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.twelve1 h3
{
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;

}
.twelve1 p
{
    font-size: 13px;
    font-weight: 400;
    margin-left: 20px;


}
.twelve2 p
{
    margin-right: 20px;
}
.twelve span
{
    font-size: 13px;
    color: brown;
    margin-left: 20px;
}
.container13
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.box13 h3
{
    font-size: 20px;
    margin-left: 22px;

}
.box13 p
{
    margin-left: 22px;
    font-weight: 400;

}
.box14 p
{
    background-color: white;
    padding: 2px 13px;
    margin-right: 45px;
}
.container14
{
    width: 95%;
    height: 260px;
    background-color: white;
    margin-left: 20px;
    margin-top: 35px;
    margin: 20px;
}
.container14 
{
    font-size: 22px;
    padding: 20px;
    background-color: rgb(253, 247, 247);
   
}
.box14 h2
{
    font-size: 25px;
    padding: 10px;
    background-color: rgb(253, 247, 247);
}
.fourteen
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.fourteen1 h2
{
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}
.fourteen2 p
{
    margin-right: 20px;

}
.fiveteen
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.fiveteen1 h2
{
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}
.fiveteen2 p
{
    margin-right: 20px;

}
.sixteen
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.sixteen1 h2
{
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}
.sixteen2 p
{
    margin-right: 20px;

}
.box15
{
    width: 250px;
    height: 140px;
    background-color: white;
    border-radius: 3px;
    margin-left: 22px;
}
.box15 h2
{
    color: rgb(110, 95, 95);
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}
.box15 h1
{
    font-size: 25px;
    padding: 0px 15px;
}
.box15 span
{
    color: rgb(72, 235, 72);
}
.box15 p
{
    padding: 0px 15px;
}
.box16
{
    width: 250px;
    height: 150px;
    background-color: white;
    border-radius: 3px;

}
.box16 h2
{
    color: rgb(110, 95, 95);
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}
.box16 h1
{
    font-size: 25px;
    padding: 0px 15px;
}
.box16 span
{
    color: brown;
}
.box16 p
{
    padding: 0px 15px;
}
.box17
{
    width: 250px;
    height: 150px;
    background-color: white;
    border-radius: 3px;

}
.box17 h2
{
    color: rgb(110, 95, 95);
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}
.box17 h1
{
    font-size: 25px;
    padding: 0px 15px;
}
.box17 span
{
    color: rgb(72, 235, 72);
}
.box17 p
{
    padding: 0px 15px;
}
.box18
{
    width: 250px;
    height: 150px;
    background-color: white;
    margin-right: 35px;
    border-radius: 3px;

}
.box18 h2
{
    color: rgb(110, 95, 95);
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}
.box18 h1
{
    font-size: 25px;
    padding: 0px 15px;
}
.box18 span
{
    color: rgb(72, 235, 72);
}
.box18 p
{
    padding: 0px 15px;
}
.container15
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.container19
{
    width: 95%;
    height: 270px;
    background-color: white;
    border-radius: 3px;
    margin-left: 20px;
    margin-top: 30px;
}
.box19 h2
{
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    background-color: rgb(246, 242, 242);
    
}
.click
{
    width: 200px;
    height: 200px;
    background-color: rgb(171, 223, 171);
    border-radius: 50%;
    margin: 20px;
}
.danger
{
    width: 200px;
    height: 200px;
    background-color: palevioletred;
    border-radius: 50%;
    margin: 20px;
}
/* .click
{
    width: 200px;
    height: 200px;
    background-color: rgb(171, 223, 171);
    border-radius: 50%;
    margin: 20px;
} */
/* .click
{
    width: 200px;
    height: 200px;
    background-color: rgb(171, 223, 171);
    border-radius: 50%;
    margin: 20px;
} */
.reduced
{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    


}
.reduced2 h2
{
    font-size: 15px;
    font-weight: 500;

}
.reduced2 p
{
    font-size: 15px;

}
.container20
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}
.boy1 h1
{
    font-size: 25px;
    font-weight: 600;
    margin-left: 30px;
}
.boy1 p
{
    font-size: 13px;
    font-weight: 400;
    margin-left: 30px;
}
.boy2 span
{
    color: white;
    background-color: blue;
    border-radius: 3px;
    padding: 4px 10px;
    margin-right: 45px;
}
.parent21
{
    width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 3px;
    margin-left: 20px;
   
}
.cat 
{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px;

}
.cat1 span
{
    margin-left: 10px;
}
.cat2 h2
{
    font-size: 15px;
    font-weight: 500;
}
.cat2
{
    padding: 0px 10px;

}
.cat2 p
{
    font-size: 13px;
    font-weight: 400;
}
.dog
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;


}

.dog2
{
    margin-right: 10px;
}
.dog h2
{
    font-size: 15px;
    font-weight: 500;
}
.eye
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;


}
.eye2
{
    margin-right: 10px;
}

.eye h2
{
    font-size: 15px;
    font-weight: 500;

}
.parent22
{
    width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 3px;
}
.parent23
{
    width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 3px;
    margin-right: 35px;
    
}
.container21
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

